{
    "buckets": {
        "details": "details-bucket-name",
        "prices": "prices-bucket-name"
    },
    "dataset": "dataset-name",
    "tables": {
        "items": "database-name.dataset-name.items-table-name",
        "prices": "database-name.dataset-name.prices-table-name"
    }
}
