# Byte-compiled / optimized / DLL files
__pycache__/

# Platform-specific
.DS_Store

# Environments
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Project specific
ide/
data/ignore/
notebooks/
*.ipynb
*_test.*
