# Byte-compiled / optimized / DLL files
__pycache__/

# Platform-specific
.DS_Store

# Environments
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Project specific
ide/
cfg/secrets.json
data/ignore/
notebooks/
*.ipynb
*_test.*

# Terraform
cfg/gcp-credentials.json
terraform/*
!terraform/main.tf
!terraform/variables.tf
!terraform/.terraform.lock.hcl
